# YAMMU Macros Configuration File
# This file contains macros specific to the YAMMU (Yet Another Multi-Material Unit)

[gcode_macro _YAMMU_SELECT_TOOL]
description: "Selects the specified tool/gate on YAMMU"
variable_select_angle: [0, 180, 0, 180, 0, 180, 0, 180]
variable_rest_angle: [90, 90, 90, 90, 90, 90, 90, 90]
gcode:
  {% set GATE  = params.GATE|int %}

  {% set PREFIX = "MMU_SERVO_" %}
  {% set SELECTED_SERVO = (GATE // 2) %}
  {% set OLD_GATE = printer.mmu.gate_selected %}

  {% if OLD_GATE != GATE %}
    ; {% for i in range(printer.mmu.num_gates // 2) %}
    {% for i in range(3) %}
      {% set SERVO = PREFIX ~ i %}

      {% if SELECTED_SERVO == i %}
        RESPOND MSG="SET_SERVO SERVO={SERVO} ANGLE={select_angle[GATE]}"
        SET_SERVO SERVO={SERVO} ANGLE={select_angle[GATE]}  ; Move servo to select position
      {% else %}
        RESPOND MSG="SET_SERVO SERVO={SERVO} ANGLE={rest_angle[i]}"
        SET_SERVO SERVO={SERVO} ANGLE={rest_angle[i]}  ; Move servo to rest position
      {% endif %}
    {% endfor %}

  {% else %}
    {% set SERVO = PREFIX ~ SELECTED_SERVO %}
    RESPOND MSG="SET_SERVO SERVO={SERVO} ANGLE={select_angle[GATE]}"
    SET_SERVO SERVO={SERVO} ANGLE={select_angle[GATE]}  ; Move servo to select position

  {% endif %}

[gcode_macro _YAMMU_FORM_TIP]
description: "Standalone macro that mimics Superslicer process"
gcode:
  {% set OLD_GATE = printer.mmu.gate_selected %}
  MMU_SYNC_GEAR_MOTOR SYNC=0
  _YAMMU_SELECT_TOOL GATE=-1

  _MMU_FORM_TIP

  MMU_SYNC_GEAR_MOTOR SYNC=1
  _YAMMU_SELECT_TOOL GATE={OLD_GATE}